.overflow-y-auto {
scrollbar-width: thin;
scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0);
overflow-y: auto;
}

.overflow-y-auto::-webkit-scrollbar {
width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.2);
border-radius: 3px;
}

.overflow-y-auto::-webkit-scrollbar-track {
background-color: rgba(0, 0, 0, 0);
}

.overflow-y-auto:hover::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.3);
}

.overflow-y-auto:hover::-webkit-scrollbar {
width: 10px;
}